
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
</head>

<body bgcolor="Lightblue">
<h2 align="center">Student Academic Management System</h2>
<a href="{%  url '' %}">Home</a>&nbsp;&nbsp;
<a href="{%  url 'about' %}">About</a>&nbsp;&nbsp;
<a href="{%  url 'login' %}">login</a>&nbsp;&nbsp;&nbsp;
<a href="{%  url 'contact' %}">Contact us</a>&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
{% block 'body' %}
<p> I am in Admin Home page</p>
{% endblock %}
</body>
<body>

</body>
</html>